/*--------------------------------------------------------------
# hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background-color: #f8f8f8;
}
#hero .container {
  padding-top: 70px;
  position: relative;
}
#hero h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;

}

#hero h2 {
  color: #898989;
  margin: 10px 0 0 0;
  font-size: 22px;
}

#hero .btn-about {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 40px;
  border-radius: 50px;
  transition: 0.5s;
  margin-top: 30px;
  margin-left: 30px;
  color: #fff;
  background: #2b2b2b;
}

#hero .btn-about:hover {
  background: #898989;
}

/*--------------------------------------------------------------
#hero Section
--------------------------------------------------------------*/

/*--------------------------------------------------------------
Class  content
--------------------------------------------------------------*/
.content h3 {
  font-weight: 700;
  font-size: 38px;
}
.content ul {
  list-style: none;
  padding: 0;
}
.content ul li {
  padding-bottom: 10px;
}
.content p:last-child {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
Class Pengalaman
--------------------------------------------------------------*/

.pengalaman .pengalaman-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #3b434a;
  text-align: start;
}

.pengalaman .pengalaman-item {
  padding: 0 0 0 10px;
  margin-top: -2px;
  border-left: 2px solid #82909c;
  position: relative;
}

.pengalaman .pengalaman-item h4 {
  line-height: 18px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 10px;
  text-align: start;
}

.pengalaman .pengalaman-item h5 {
  font-size: 16px;
  background: #eef0f2;
  padding: 5px 15px;
  font-weight: 700;
  margin-bottom: 10px;
  text-align: start;
  display: inline-block;
}

.pengalaman .pengalaman-item p{
  text-align: justify;
}

.pengalaman .pengalaman-item ul {
  padding-left: 30px;
}

.pengalaman .pengalaman-item ul li {
  padding-bottom: 10px;
}

.pengalaman .pengalaman-item::before {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 40px;
  left: -9px;
  background: #fff;
  border: 2px solid #82909c;
  content: "";
}
.pengalaman .pengalaman-item:last-child {
  padding-bottom: 0;
}

/*--------------------------------------------------------------
Class Pengalaman
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Section
--------------------------------------------------------------*/

section {
  padding: 30px 0;
}

.section-title {
  text-align: center;
  padding: 10px 0;
  position: relative;
}

.section-title h2 {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
  padding-bottom: 0px;
  color: #3b434a;
  position: relative;
  z-index: 2;
}

.section-title span {
  position: absolute;
  top: 10px;
  color: #eef0f2;
  left: 0;
  right: 0;
  z-index: 1;
  font-weight: 700;
  font-size: 52px;
  text-transform: uppercase;
  line-height: 0;
}

/* Galeri-*/
div.foto:hover {
  border: 2px solid #777;
}
/* Galeri-*/

/* Kontak */
#Kontak {
  margin-bottom: 100px;
}
#Kontak .btn-sumbit:hover {
  background: #898989;
}

#Kontak .btn-sumbit{
  background-color: #2b2b2b; color: #ffff;
}

form {
  margin-top: 100px;
}

.textKontak {
  margin-top: 100px;
}

.logo {
  padding: 20px;
  font-size: 50px;
  color: #2b2b2b;
}

.logo :hover {
  color: #898989;
}

.medsos {
  margin-top: 100px;
}

/* Kontak */


/* Navbar */
.lineeffect {
  display: inline-block;
}

.lineeffect::after {
  content: "";
  display: block;
  width: 0px;
  height: 2px;
  background-color: #fff;
  transition: width 0.3s;
}

.lineeffect:hover::after {
  width: 100%;
  transition: width 0.3s;
}

.lineeffect:active{
  color: #ffff;
}
/* Navbar */
